.container{
    width: 400px;
    height: 400px;
    border: 1px solid red;
    overflow: auto;
}
.container2{
    width: 500px;
    height: 400px;
    border: 1px solid rgb(190, 38, 122);
    margin: 20px;

}
.img1{
    width: 200px;
    float: left;
}
.img2{
    width: 200px;
    float: right;
    
}






.a{
    box-sizing: border-box;
    
}
.b{
    overflow: auto;
    border: 1px solid red;
    float: left;

}
.nobita{
    background-color: rgb(235, 245, 245);
    width: 400px;
    height: 400px;
}
.box1{
    background-color: brown;
    width: 100px;
    height: 100px;
}
.box2{
    background-color: rgb(111, 211, 111);
    width: 100px;
    height: 100px;
}
.box3{
    background-color: rgb(36, 15, 15);
    width: 100px;
    height: 100px;
}
.box4{
    background-color: rgb(97, 13, 231);
    width: 100px;
    height: 100px;
}